body {
      font-family: Roboto, sans-serif;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2%;
      font-weight: 400;
      background-color: #253017;
    }

a {
    text-decoration: none; /* Убираем подчёркивание */
    color: inherit;
}