.cards-feed {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  background: transparent;
}

.cards-feed__section {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.cards-feed__section_type_recommended {
  background: transparent;
  padding: 0;
}

.cards-feed__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards-feed__title {
  font: var(--font-xl);
  font-weight: var(--font-weight-semibold);
}

.cards-feed__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(325px, 1fr));
  gap: 24px;
  justify-items: center;
}

.cards-feed__sort_active {
  background-color: var(--button-color-accent);
  color: var(--background-color-secondary);
}
