.page {
  min-height: 100dvh;
  padding: 24px 0 48px;
}

.details {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.details_user {
  height: 100%;
}

.users {
  margin: 60px 36px 0;
}

.users_title {
  margin-bottom: 32px;
}
