.input__container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
}

.input__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.input {
  border-radius: 12px;
  border: 1px solid var(--font-color-secondary);
  width: 100%;
  padding: 12px 20px;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-light);
  font-style: normal;
  font-size: var(--font-size-sm);
  line-height: var(--font-line-sm-md);
  color: var(--font-color-primary);
}

.input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.input[type='date']::placeholder {
  color: var(--font-color-secondary);
}

.input_search {
  border-color: var(--background-color-secondary);
  background: var(--background-color-secondary);
  padding-left: 44px;
}

.input__error {
  border: 1px solid var(--error-color);
}

.input__icon_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
}

.input__icon_left {
  left: 12px;
}

.input__icon_right {
  right: 20px;
}

.input::placeholder {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-light);
  font-style: normal;
  font-size: var(--font-size-sm);
  line-height: var(--font-line-sm-md);
  letter-spacing: 2%;
  color: var(--font-color-secondary);
}

.input__message {
  position: absolute;
  left: 0;
  bottom: -17px;
  min-height: 15px;
  font-size: 12px;
  font-weight: var(--font-weight-light);
  line-height: 16px;
  letter-spacing: var(--letter-spacing-tight);
  font-family: var(--font-family-text);
}

.input__error-message {
  color: var(--error-color);
}

.input__toggle-button {
  cursor: pointer;
  z-index: 5;
  pointer-events: auto;
  background-color: inherit;
  border: none;
}