@import url('@/app/styles/_variables.css');

.radio {
  display: grid;
  gap: 12px;
}

.radioItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radioInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radioControl {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.radioControl::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  background: transparent;
}

.radioChecked .radioControl {
  border-color: var(--font-color-accent)
}

.radioChecked .radioControl::after {
  background: var(--font-color-accent)
}

.radioLabel {
  line-height: 1;
}

.radioDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}