.user-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--padding-big);
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius-small);
  border: 1px solid #b2b9a9;
  width: 260px;
}

.user-menu__item {
  align-self: flex-start;
  padding: 0;
  font-weight: var(--font-weight-medium);
}
