.modal__fullscreen {
    position: fixed;
    z-index: 2;
    inset: 0;
    background-color: var(--background-color-primary);
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.modal__fullscreen-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.modal__fullscreen-content {
    max-width: 1150px;
    align-self: center
}